@import "../../global.scss";

.topbar {
  width: 100%;
  height: 72px;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all ease 2s;

  .wrapper {
    padding: 1vh 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit; //inherits the color (maincolor) from the parent, topbar
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile {
          display: none;
        }

        // .icon {
        //   font-size: 18px;
        //   margin-right: 5px;
        // }

        // span {
        //   font-size: 15px;
        //   font-weight: 400;
        // }
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white; //textcolor

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          // background-color: white;
          overflow: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
