.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.7;
    overflow: hidden;
    .imgContainer {
      // padding-top: 17%;
      // padding-left: 30%;
      padding-right: 17%;
      width: 700px;
      height: 700px;
      background-color: salmon;
      border-radius: 50%;
      align-items: flex-end;
      justify-content: center;
      float: right;

      .img {
        height: 100%;
      }
    }
  }

  .right {
    flex: 0.3;
    display: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      img {
        width: 30px;
      }
    }
  }
}
