$mainColor: #15023a;

$width: 750px;

$height: 350px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin thin-mobile {
  @media (max-height: #{$height}) {
    @content;
  }
}
